* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Noto Sans TC', sans-serif;
}
html,
body {
	height: 100%;
}
body {
	display: flex;
	align-items: center;
	background-image: linear-gradient(90deg, #3d5894, #08c7a5);
}

.table {
	width: 800px;
	margin: auto;
}
.table table {
	width: 100%;
	border: 3px double #666;
	background-color: #fff;
	border-radius: 10px;
}
.table thead {
	background: #3f7f7f;
	color: #fff;
}

.table thead th:first-child {
	border-radius: 7px 0 0 0;
}
.table thead th:last-child {
	border-radius: 0 7px 0 0;
}
.table tbody tr:nth-child(odd) {
	background-color: #ffa;
}
.table tbody td:first-child ~ td:hover {
	background-color: #eee;
}
.table tfoot td:first-child {
	border-radius: 0 0 0 7px;
}
.table tfoot td:last-child {
	border-radius: 0 0 7px 0;
}
.table th {
	border: 1px solid #666;
	padding: 6px 10px;
}
.table td {
	text-align: center;
	border: 1px solid #666;
	padding: 6px 10px;
}
.table caption {
	caption-side: bottom;
	text-align: right;
	padding: 5px;
}
