* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background: linear-gradient(-30deg, #fdaecb, #e7597f, #fe8556);
}
.wrap {
    height: 98vh;
    display: flex;
    align-items: center;
}
.container {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 368px;
    margin: 15px 15px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(160,0,0,0.5);
    font-family: 'Noto Sans TC', sans-serif;
}
.item .pic {
    width: 50%;
}
.item .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item .txt {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
}
.item .txt h2 {
    margin-bottom: .4em;
    font-weight: 700;
}
.item .txt p {
    font-weight: 300;
    margin-bottom: 15px;
}
.item .txt .btn {
    line-height: 1.5em;
    border: 1px solid #ccc;
    padding: 0 1em;
    align-self: flex-end;
    text-decoration: none;
    border-radius: 200px;
    margin-top: auto;
    background-color: #fff;
    color: #aaa;
}
.item .txt .btn:hover {
    background-color: #ccc;
    color: #fff;
}
.footer {
    text-align: right;
    margin-right: 5px;
    font-size: 10px;
    color: gray;
}