* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Noto Sans TC', sans-serif;
}
body {
	background-color: #2cae66;
}
.wrap {
	margin: 100px 0;
}
.container {
	width: 1200px;
	margin: auto;
	text-align: center;
}
.container h1 {
	width: 100%;
	box-sizing: border-box;
	font-size: 70px;
	color: #a3e8c2;
	margin-bottom: 0.5em;
}
.container .txt {
	box-sizing: border-box;
	color: #fff;
	position: relative;
}
.container .txt::before,
.container .txt::after {
	position: absolute;
	font-size: 100px;
}
.container .txt::before {
	content: '“';
	left: -100px;
	top: -70px;
}
.container .txt::after {
	content: '”';
	right: -110px;
	bottom: -120px;
}
.container .txt p {
	margin-bottom: 1em;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 5px;
	width: 100%;
	text-align: center;
	color: #a3e8c2;
}
